{% set current_language    = languages[ current_language_code ] %}
{% set css_classes_flag    = ('wpml-ls-flag ' ~ backward_compatibility.css_classes_flag)|trim %}
{% set css_classes_native  = ('wpml-ls-native ' ~ backward_compatibility.css_classes_native)|trim %}
{% set css_classes_display = ('wpml-ls-display ' ~ backward_compatibility.css_classes_display)|trim %}
{% set css_classes_bracket = ('wpml-ls-bracket ' ~ backward_compatibility.css_classes_bracket)|trim %}

<div
	 class="{{ css_classes }} wpml-ls-legacy-dropdown js-wpml-ls-legacy-dropdown"{% if backward_compatibility.css_id %} id="{{ backward_compatibility.css_id }}"{% endif %}>
	<ul role="menu">

		<li role="none" tabindex="0" class="{{ current_language.css_classes }} wpml-ls-item-legacy-dropdown">
			<a href="#" class="{{ ('js-wpml-ls-item-toggle wpml-ls-item-toggle ' ~ current_language.backward_compatibility.css_classes_a)|trim }}" role="menuitem" title="{{ current_language.menu_item_label }}">
                {% include 'flag.twig' with {language: current_language, css_classes_flag: css_classes_flag} %}

                {%- if current_language.display_name or current_language.native_name -%}
					{%- set current_language_name = current_language.display_name|default(current_language.native_name) -%}
					<span class="{{ css_classes_native }}" role="menuitem">{{- current_language_name -}}</span>
				{%- endif -%}
			</a>

			<ul class="wpml-ls-sub-menu" role="menu">
				{% for language in languages if not language.is_current %}

					<li class="{{ language.css_classes }}" role="none">
						<a href="{{ language.url }}" class="{{ css_classes_link }}" role="menuitem" aria-label="{{ language.menu_item_label }}" title="{{ language.menu_item_label }}">
                            {% include 'flag.twig' %}

							{%- if language.native_name -%}
								<span class="{{ css_classes_native }}" lang="{{ language.code }}">{{ language.native_name }}</span>
							{%- endif -%}
							{%- if language.display_name and (language.display_name != language.native_name) -%}
								<span class="{{ css_classes_display }}">
									{%- if language.native_name -%}<span class="{{ css_classes_bracket }}"> (</span>{%- endif -%}
										{{- language.display_name -}}
									{%- if language.native_name -%}<span class="{{ css_classes_bracket }}">)</span>{%- endif -%}
								</span>
							{%- endif -%}
						</a>
					</li>

				{% endfor %}
			</ul>

		</li>

	</ul>
</div>
