<h3>{{ strings.title }}</h3>
<table class="widefat wpml-support-info">
	<tbody>
	{% for item in data %}
		{% set item_status = 'passed' %}
		{% if item.is_error %}
			{% set item_status = 'error' %}
		{% elseif item.is_warning %}
			{% set item_status = 'warning' %}
		{% endif %}
		<tr>
			<th>
				{% if item.url is defined %}
					<a href="{{ item.url }}" target="_blank">{{ item.label }}</a>
				{% else %}
					{{ item.label }}
				{% endif %}
				{% if item.icon is defined and item.tooltip is defined %}
					<span class="wpml-tooltip-icon" title="{{ item.tooltip }}"></span>
				{% endif %}
			</th>
			<td class="wpml-support-info-check-{{ item_status }}">
				{{ item.value }}
			</td>
			{% if item.messages is defined and item.messages|length > 0 %}
				<td class="wpml-support-info-message">
					{% include 'messages.twig' with { messages: item.messages } %}
				</td>
			{% endif %}
		</tr>
	{% endfor %}
	</tbody>
</table>